body {
  font-family: "Inter", sans-serif;
  min-width: 400px;
  margin: 0px;
  padding: 0px;
}

.header-container {
  text-align: center;
  color: white;
  background-color: #6943ff;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

input {
  background-color: #6943ff;
  font-size: 58px;
  border: solid 1px #b295ff;
  width: 117px;
  height: 83px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#convert-btn {
  font-family: inherit;
  padding: 9px 25px;
  border: none;
  border-radius: 5px;
  color: #3d3d3d;
  margin: 0px;
}

.units-container {
  background-color: #1f2937;
  margin: 0px;
  padding: 35px 25px;
}

h2 {
  margin-top: 0px;
  text-align: center;
  color: #ccc1ff;
  font-size: 20px;
}

.container {
  background-color: #273549;
  padding: 31px 77px;
  margin-bottom: 23px;
}

.container p {
  text-align: center;
  color: white;
}
